<section class="section about">
  <div class="container">
    <h2 class="title about__title">About <span class="accent">me</span></h2>
    <div class="about__bio">
      <img src="./img/about-me/about.webp" alt="me" class="about__img" />
      <div class="about__descr">
        <h3 class="about__subtitle">BIO</h3>
        <p class="about__text">
          I'm Lloyd Jefferson, a talented programmer specializing in software
          development. My expertise spans various programming languages and
          technologies, and I am dedicated to continually enhancing my skills. I
          thrive on seeking unconventional and creative solutions to problems,
          leveraging a high level of analytical skills to effectively tackle
          even the most challenging tasks.
        </p>
        <p class="about__text">
          Adaptable to both independent and team-oriented work, I collaborate
          seamlessly with colleagues, exchanging ideas and finding optimal
          solutions. My professional maturity enables me to navigate challenges
          and stressful situations with a calm demeanor, maintaining a
          consistently high quality of work. Committed to self-improvement, I
          actively engage in studying new technologies and practices to stay
          current with the latest innovations in the field.
        </p>
      </div>
    </div>
    <div class="about__wrapper">
      <div>
        <h3 class="about__subtitle">EDUCATION</h3>
        <ul class="about__list">
          <li class="about__list-item">
            2018 - 2019 / Frontend Development Diploma, GoIT IT School, New York
          </li>
          <li class="about__list-item">
            2019 - 2020 / Advanced Web Development Certificate, GoIT IT School,
            New York
          </li>
          <li class="about__list-item">
            2020 - 2022 / Advanced Blender Animation Techniques, Udemy
          </li>
        </ul>
      </div>
      <div>
        <h3 class="about__subtitle">ROLE</h3>
        <ul class="about__list">
          <li class="about__list-item">Frontend development</li>
          <li class="about__list-item">HeadlessCMS, Wordpress</li>
          <li class="about__list-item">Blender (enjoy)</li>
        </ul>
      </div>
    </div>
  </div>
</section>
