<section class="faq">
  <h2 class="faq-title">
    frequently asked <span class="faq-title-color">question</span>
  </h2>
  <ul class="faq-list">
    <li class="faq-list-item">
      <div class="faq-row">
        <p class="faq-text">
          What programming languages ​​are most often used in your project?
        </p>
        <svg class="faq-svg" width="24" height="24">
          <use href="../public/favicon.svg#faq-closed"></use>
        </svg>
      </div>
      <p class="faq-sub-text faq-sub-text-active">
        In the field of web development, there are various technologies and
        programming languages. Typically, this includes a combination of
        frontend (client side) and backend (server side) languages.
      </p>
    </li>
    <li class="faq-list-item">
      <div class="faq-row">
        <p class="faq-text">What are the deadlines for the project?</p>
        <svg class="faq-svg" width="24" height="24">
          <use href="../public/favicon.svg#faq-closed"></use>
        </svg>
      </div>
      <p class="faq-sub-text">
        In the field of web development, there are various technologies and
        programming languages. Typically, this includes a combination of
        frontend (client side) and backend (server side) languages.
      </p>
    </li>
    <li class="faq-list-item">
      <div class="faq-row">
        <p class="faq-text">What payment methods do you accept?</p>
        <svg class="faq-svg" width="24" height="24">
          <use href="../public/favicon.svg#faq-closed"></use>
        </svg>
      </div>
      <p class="faq-sub-text">
        In the field of web development, there are various technologies and
        programming languages. Typically, this includes a combination of
        frontend (client side) and backend (server side) languages.
      </p>
    </li>
    <li class="faq-list-item">
      <div class="faq-row">
        <p class="faq-text">How can I contact you?</p>
        <svg class="faq-svg" width="24" height="24">
          <use href="../public/favicon.svg#faq-closed"></use>
        </svg>
      </div>
      <p class="faq-sub-text">
        In the field of web development, there are various technologies and
        programming languages. Typically, this includes a combination of
        frontend (client side) and backend (server side) languages.
      </p>
    </li>
    <li class="faq-list-item">
      <div class="faq-row">
        <p class="faq-text">Do you provide advice or support?</p>
        <svg class="faq-svg" width="24" height="24">
          <use href="../public/favicon.svg#faq-closed"></use>
        </svg>
      </div>
      <p class="faq-sub-text">
        In the field of web development, there are various technologies and
        programming languages. Typically, this includes a combination of
        frontend (client side) and backend (server side) languages.
      </p>
    </li>
    <li class="faq-list-item">
      <div class="faq-row">
        <p class="faq-text">
          What does the process of developing a software product look like from
          idea to implementation?
        </p>
        <svg class="faq-svg" width="24" height="24">
          <use href="../public/favicon.svg#faq-closed"></use>
        </svg>
      </div>
      <p class="faq-sub-text">
        In the field of web development, there are various technologies and
        programming languages. Typically, this includes a combination of
        frontend (client side) and backend (server side) languages.
      </p>
    </li>
  </ul>
</section>
<!-- <li class="faq-list-item">What are the deadlines for the project?</li>
    <li class="faq-list-item">What payment methods do you accept?</li>
    <li class="faq-list-item">How can I contact you?</li>
    <li class="faq-list-item">Do you provide advice or support?</li>
    <li class="faq-list-item">
      What does the process of developing a software product look like from idea
      to implementation?
    </li> -->
