<footer class="footer">
  <div class="container">
    <div class="footer__wrapper">
      <a href="#header" class="title footer__logo">
        Lloyd<span class="accent">Jefferson.</span>
      </a>
      <ul class="footer__list">
        <li>
          <a
            target="_blank"
            class="footer__link"
            href="https://www.instagram.com/goitclub/"
            >Instagram</a
          >
        </li>
        <li>
          <a
            target="_blank"
            class="footer__link"
            href="https://www.facebook.com/goITclub/"
            >Facebook</a
          >
        </li>
        <li>
          <a
            target="_blank"
            class="footer__link"
            href="https://www.linkedin.com/school/goit-start-your-career-in-it"
            >Linkedin</a
          >
        </li>
        <li>
          <a
            target="_blank"
            class="footer__link"
            href="https://github.com/Denys-Pronin/IT-Hub-Portfolio"
            >GitHub</a
          >
        </li>
      </ul>
    </div>
    <div class="footer__copyright">
      © Copyright 2024. <span>Made by LloydJefferson</span>
    <div class="title footer__title">
      Lloyd<span class="accent">Jefferson.</span>
    </div>
    <ul class="footer__list">
      <li>
        <a class="footer__link" href="https://www.instagram.com/goitclub/"
          >Instagram</a
        >
      </li>
      <li>
        <a class="footer__link" href="https://www.facebook.com/goITclub/"
          >Facebook</a
        >
      </li>
      <li>
        <a
          class="footer__link"
          href="https://www.linkedin.com/school/goit-start-your-career-in-it"
          >Linkedin</a
        >
      </li>
      <li>
        <a
          class="footer__link"
          href="https://github.com/Denys-Pronin/IT-Hub-Portfolio"
          >GitHub</a
        >
      </li>
    </ul>
    <div class="footer__copyright">
      © Copyright 2024. Made by LloydJefferson
    </div>
  </div>
</footer>
