<header class="header">
  <div class="container header-box">
    <nav class="navigation">
      <a class="header-logo" href="./index.html"
        >Lloyd<span class="header-span">Jefferson.</span></a
      >
      <ul class="header-list">
        <li class="header-list-item">
          <a href="#section1">About me</a>
        </li>
        <li class="header-list-item"></li>
          <a href="#section2">Projects</a>
        </li>
        <li class="header-list-item"></li>
          <a href="#section3">Contacts</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
