<header class="header">
  <div class="container header-box">
    <nav class="header-navigation">
      <a class="header-logo" href="./index.html"
        >Lloyd<span class="header-span">Jefferson.</span></a
      >
      <label class="toggle-switch">
        <input type="checkbox" />
        <span class="slider"></span>
      </label>
      <ul class="header-list">
        <li>
          <a class="header-list-item" href="#about-me">About me</a>
        </li>
        <li>
          <a class="header-list-item" href="#my-projects">Projects</a>
        </li>
        <li>
          <a class="header-list-item" href="#work-together">Contacts</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
