<header class="header">
  <div class="container header-box">
    <nav class="header-navigation">
      <a class="header-logo" href="./index.html"
        >Lloyd<span class="header-span">Jefferson.</span>
      </a>
      <label class="toggle-switch">
        <input type="checkbox" />
        <span class="slider"></span>
      </label>
      <ul class="header-list">
        <li>
          <a class="header-list-item" href="#about-me">About me</a>
        </li>
        <li>
          <a class="header-list-item" href="#my-projects">Projects</a>
        </li>
        <li>
          <a class="header-list-item" href="#work-together">Contacts</a>
        </li>
      </ul>
    </nav>
    <button type="button" class="header-open-menu-btn">
      <svg width="32" height="32">
        <use href="../img/symbol-defs.svg#icon-burger-menu"></use>
      </svg>
    </button>
    <button type="button" class="menu-close-btn">
      <svg width="32" height="32">
        <use href="../img/symbol-defs.svg#icon-close-btn"></use>
      </svg>
    </button>
  </div>

  <div class="mob-menu">
    <nav class="mob-menu-nav">
      <ul class="mob-nav-list">
        <li>
          <a class="header-list-item" href="#about-me">About me</a>
        </li>
        <li>
          <a class="header-list-item" href="#my-projects">Projects</a>
        </li>
        <li>
          <a class="header-list-item" href="#work-together">Contacts</a>
        </li>
      </ul>
    </nav>
    <label class="toggle-switch switch-mob">
      <input type="checkbox" />
      <span class="slider"></span>
    </label>
  </div>
</header>
