<section id="my-projects">
  <div class="container my-project">
    <h2 class="projects-title">
      MY
      <span>PROJECTS</span>
    </h2>

    <div class="card">
      <ul class="project-container" id="project-container">
        <li>
          <div class="image-wrapper">
            <img src="../img/my-projects/Rectangle 11.jpg" alt="my-project" />
          </div>
          <div class="text-container">
            <p class="stack-teh">React, JavaScript, Node JS, Git</p>
            <div class="text-button">
              <h3 class="name-project">Wallet webservice</h3>
              <div class="link-container">
                <a
                  target="_blank"
                  class="link-project"
                  href="https://github.com/Denys-Pronin/IT-Hub-Portfolio"
                  >VISIT
                  <svg stroke="#00B068" width="24" height="24">
                    <use href="../img/symbol-defs.svg#icon-vector"></use>
                  </svg>
                </a>
              </div>
            </div>
          </div>
        </li>

        <li>
          <div class="image-wrapper">
            <img src="../img/my-projects/Rectangle 9.jpg" alt="my-project" />
          </div>
          <div class="text-container">
            <p class="stack-teh">React, JavaScript, Node JS, Git</p>
            <div class="text-button">
              <h3 class="name-project">Green harvest webservice</h3>
              <div class="link-container">
                <a
                  target="_blank"
                  class="link-project"
                  href="https://github.com/Denys-Pronin/IT-Hub-Portfolio"
                  >VISIT
                  <svg stroke="#00B068" width="24" height="24">
                    <use href="../img/symbol-defs.svg#icon-vector"></use>
                  </svg>
                </a>
              </div>
            </div>
          </div>
        </li>

        <li>
          <div class="image-wrapper">
            <img src="../img/my-projects/Rectangle 12.jpg" alt="my-project" />
          </div>
          <div class="text-container">
            <p class="stack-teh">React, JavaScript, Node JS, Git</p>
            <div class="text-button">
              <h3 class="name-project">English Exellence website</h3>
              <div class="link-container">
                <a
                  target="_blank"
                  class="link-project"
                  href="https://github.com/Denys-Pronin/IT-Hub-Portfolio"
                  >VISIT
                  <svg stroke="#00B068" width="24" height="24">
                    <use href="../img/symbol-defs.svg#icon-vector"></use>
                  </svg>
                </a>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>

    <button id="load-more-button" class="load-more">LOAD MORE</button>
  </div>
</section>
