<div id="my-project">
    <h2 class="projects-title">MY 
    <span>PROJECTS</span>
</h2>

<div class="card" id="project-container">
   <ul class="project-container">
        <li>
            <div class="image-wrapper">
                <img src="../img/my-projects/Rectangle 11.jpg" alt="my-project">
            </div>
            <div class="text-container">
                <p class="stack-teh">React, JavaScript, Node JS, Git</p>
                <div class="text-button">
                <h3 class="name-project">Wallet webservice</h3>
                <div class="form-container">
                    <form action="https://github.com/Denys-Pronin/IT-Hub-Portfolio" method="get">
                        <button type="submit" class="projects-button">VISIT
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M4.75 19.25L19.25 4.75M19.25 4.75H5.75M19.25 4.75V18.25" stroke="#00B068" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                        </button>
                    </form>
                </div>
                </div>
            </div>
        </li>
    </ul>
    <ul class="project-container">
        <li>
            <div class="image-wrapper">
                <img src="../img/my-projects/Rectangle 9.jpg" alt="my-project">
            </div>
            <div class="text-container">
                <p class="stack-teh">React, JavaScript, Node JS, Git</p>
                <div class="text-button">
                <h3 class="name-project">Green harvest webservice</h3>
                <div class="form-container">
                    <form action="https://github.com/Denys-Pronin/IT-Hub-Portfolio" method="get">
                        <button type="submit" class="projects-button">VISIT
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M4.75 19.25L19.25 4.75M19.25 4.75H5.75M19.25 4.75V18.25" stroke="#00B068" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                        </button>
                    </form>
                </div>
                </div>
            </div>
        </li>
    </ul>

    <ul class="project-container">
        <li>
            <div class="image-wrapper">
                <img src="../img/my-projects/Rectangle 12.jpg" alt="my-project">
            </div>
            <li class="text-container">
                <p class="stack-teh">React, JavaScript, Node JS, Git</p>
                <div class="text-button">
                <h3 class="name-project">English Exellence website</h3>
                <div class="form-container">
                    <form action="https://github.com/Denys-Pronin/IT-Hub-Portfolio" method="get">
                        <button type="submit" class="projects-button">VISIT
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M4.75 19.25L19.25 4.75M19.25 4.75H5.75M19.25 4.75V18.25" stroke="#00B068" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                        </button>
                    </form>
                </div>
            </div>
        </li>
        </li>
    </ul>
</div>

<button id="load-more-button" class="load-more">LOAD MORE</button>

</div>