<section class="container reviews">
  <h2 class="title title-reviews">REVIEWS</h2>
  <div class="swiper">
    <ul class="mySwiper swiper-wrapper"></ul>
    <div class="slider-navigator">
      <div class="s-button-next">
        <svg class="icon" width="16" height="16">
          <use href="/src/img/symbol-defs.svg#icon-button-down"></use>
        </svg>
      </div>
      <div class="s-button-prev">
        <svg class="icon" width="16" height="16">
          <use href="/src/img/symbol-defs.svg#icon-button-down"></use>
        </svg>
      </div>
    </div>
  </div>
</section>
