<section class="section" id="reviews">
  <div class="container reviews">
  <h2 class="title title-reviews">REVIEWS</h2>
  <div class="swiper">
    <ul class="mySwiper swiper-wrapper"></ul>
    <div class="slider-navigator">
      <div class="s-button-prev">
        <svg class="icon" width="20" height="20">
          <use href="./img/symbol-defs.svg#icon-arrow-narrow-left"></use>
        </svg>
      </div>
      <div class="s-button-next">
        <svg class="icon" width="20" height="20">
          <use href="./img/symbol-defs.svg#icon-arrow-narrow-right1"></use>
        </svg>
      </div>
    </div>
  </div>
  </div>
</section>
