<section class="container reviews swiper">
  <h2 class="title title-reviews">REVIEWS</h2>

  <ul class="mySwiper swiper-wrapper">
  </ul>
  <div class="swiper-button-next btn-swiper"></div>
  <div class="swiper-button-prev btn-swiper"></div>
</section>



<!-- <li class="swiper-item">
      <p class="text-review">
      </p>
      <div class="reviewer">
        <img
          src=""
          alt=""
          class="reviewer-foto"
        />
        <p class="reviewer-name"></p>
      </div>
    </li> -->