<section class="section tech-skill_section">
  <h2 class="tech-skill-hide">Tech Skills</h2>
  <div class="marquee">
    <div class="marquee__inner">
      <ul class="marquee__line">
        <li>HTML/CSS</li>
        <li>JavaScript</li>
        <li>React</li>
        <li>Node. js</li>
        <li>React Native</li>
        <li>Typescript</li>
      </ul>
      <ul class="marquee__line">
        <li>HTML/CSS</li>
        <li>JavaScript</li>
        <li>React</li>
        <li>Node. js</li>
        <li>React Native</li>
        <li>Typescript</li>
      </ul>
    </div>
  </div>
  <div class="marquee marguee_extra">
    <div class="marquee__inner">
      <ul class="marquee__line marquee__line_reverse">
      <ul class="marquee__line">
        <li>HTML/CSS</li>
        <li>JavaScript</li>
        <li>React</li>
        <li>Node. js</li>
        <li>React Native</li>
        <li>Typescript</li>
      </ul>
      <ul class="marquee__line marquee__line_reverse">
      <ul class="marquee__line">
        <li>HTML/CSS</li>
        <li>JavaScript</li>
        <li>React</li>
        <li>Node. js</li>
        <li>React Native</li>
        <li>Typescript</li>
      </ul>
    </div>
  </div>
</section>
