.benefits {
  width: 360px;
  justify-content: center;
}

.benefits-container {
  display: block;
  width: 320px;
  margin-left: 20px;
  margin-right: 20px;
}

.accent {
  font-family: 'Impact', sans-serif;
  font-weight: 400;
  font-size: 52px;
  line-height: 123%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #00b068;
}
.title {
  font-family: 'Impact', sans-serif;
  font-weight: 400;
  font-size: 52px;
  line-height: 123%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #292929;
  margin-bottom: 40px;
}

.benefits-list-item {
  font-weight: 400;
  font-size: 18px;
  line-height: 156%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #292929;
  margin-bottom: 32px;
}

.item-text {
  font-weight: 300;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.03em;
  text-transform: none;
  color: #292929;
  margin-top: 16px;
}
.icon {
  fill: none;
  stroke: #00b068;
}
.item-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
  background-color: #bcdfd1;
  border-radius: 8px;
  margin-bottom: 16px;
}
