
.reviews{
    height: auto;
}
.title-reviews {
    text-align: center;
    margin-bottom: 40px;
}

.swiper-item {
    width: 320px;
    height: auto;
    background-color:  #E4E5E6;
    padding: 32px;
}
.text-review {
font-family: Poppins;
font-size: 16px;
font-weight: 300;
line-height: 24px;
letter-spacing: 0.5px;
text-align: left;

    margin-bottom: 24px;
}
.reviewer {
    display: flex;
    align-items: center; 
    gap: 16px;
    width: 256px;
    height: 40px;
}
.reviewer-foto {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.reviewer-name {
font-family: Poppins;
font-size: 16px;
font-weight: 600;
line-height: 24px;
letter-spacing: 0.5px;
text-align: left;

}

.reviews > .swiper-button-next::after, 
.reviews > .swiper-button-prev::after {
            content: "";
          }

          .swiper-button-next,
          .swiper-button-prev {
            background-color: white;
            background-position: center;
            background-size: 40px;
            background-repeat: no-repeat;
            padding: 8px 16px;
            border-radius: 100%;
            border: 2px solid black;
            color: red;
          }

          .swiper-button-prev {
            background-image: url("/src/arrow-narrow-rightarrow.svg");
            background-position: center;
          }

          .swiper-button-next {
            background-image: url("/src/arrow-narrow-rightarrow.svg");
            background-position: center;
          }

          .swiper-button-next::after,
          .swiper-button-prev::after {
            content: "";
          }

          .swiper-pagination-bullet{
            width: 40px;
            height: 40px;
            background-color: red;
          }

