
.swiper{
width: 320px;    
}
.title-reviews {
    text-align: center;
    margin-bottom: 40px;
}

.swiper-item.swiper-slide {
    display: inline-block;
    width: 256px;
    height: 368px;
    background-color:  #E4E5E6;
    padding: 32px;
    margin-bottom: 24px;
}

.text-review {
font-family: Poppins;
font-size: 16px;
font-weight: 300;
line-height: 24px;
letter-spacing: 0.5px;
text-align: left;

    margin-bottom: 24px;
}
.reviewer {
    display: flex;
    align-items: center; 
    gap: 16px;
    height: 40px;
}
.reviewer-foto {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.reviewer-name {
font-family: Poppins;
font-size: 16px;
font-weight: 600;
line-height: 24px;
letter-spacing: 0.5px;
text-align: left;

}
.slider-navigator{
    display: flex;
    justify-content: right;
    gap: 16px;
}
.s-button-next, .s-button-prev {
    position: relative;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: 1px solid #2929294D;
    border-radius: 8px;
}
.icon{
    
    
}





