body {
  --main-bg-color: #f0f0f0;
  --extra-bg-color: #e4e5e6;

  --main-text-color: #292929;
  --accent-color: #00b068;

  --accent-extra-color: #bcdfd1;
}
body.dark {
  --main-bg-color: #1e2023;
  --extra-bg-color: #2a2d32;

  --main-text-color: #f0f0f0;
  --accent-color: #14c57c;

  --accent-extra-color: #204136;
}
