.container {
  padding: 0 10px;
  margin: 0 auto;
}
.section {
  padding: 40px 0;
}

.accent {
  --accent-color: #00b068;
}
body {
  --main-bg-color: #f0f0f0;
  --extra-bg-color: #e4e5e6;

  --main-text-color: #292929;
  --accent-color: #00b068;

  --accent-extra-color: #bcdfd1;
}
body.dark {
  --main-bg-color: #1e2023;
  --extra-bg-color: #2a2d32;

  --main-text-color: #f0f0f0;
  --accent-color: #14c57c;

  --accent-extra-color: #204136;
}
.title {
  font-family: Impact;
  font-size: 52px;
  font-weight: 400;
  line-height: 64px; /* 123.077% */
  letter-spacing: 1.8px;
  text-transform: uppercase;
  margin-bottom: 40px;
}
.title > span {
  color: var(--accent-color);
}
.background-image {
  background-image: url(../image/decor-bg-3.png);
  width: 100%;
  background-size: cover;
}
.work-together-description {
  color: var(--main-text-color);
  font-family: Poppins;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px; /* 155.556% */
  letter-spacing: 0.5px;
  text-transform: uppercase;
  margin-bottom: 32px;
}
.work-together-address-wrap {
}
.work-together-address {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.work-together-address-item {
}

.work-together-address-item:last-child {
  margin-bottom: 40px;
}
.address-icon {
  fill: var(--accent-color);
}
.work-together-address-link {
  color: var(--main-text-color);
  font-family: Poppins;
  font-size: 16px;
  font-weight: 300;
  line-height: 24px; /* 150% */
  letter-spacing: 0.5px;
}
.work-together-address-link:hover {
  color: var(--accent-color);
  transition: color 250ms ease-in-out;
}
.header-contacts-link {
}
.work-together-wrapper {
}
.work-together-form-column {
}
.work-together-form {
}
.work-together-email {
  width: 100%;
  margin-bottom: 32px;
  border-radius: 8px;
  background: var(--extra-bg-color);
  height: 48px;
  padding: 16px;
  outline: none;
}

.work-together-comment {
  width: 100%;
  margin-bottom: 32px;
  border-radius: 8px;
  background: var(--extra-bg-color);
  height: 96px;
  padding: 16px;
  outline: none;
  resize: none;
}
.work-together-email::placeholder,
.work-together-comment::placeholder {
  color: rgba(41, 41, 41, 0.4);
  font-family: Poppins;
  font-size: 16px;
  font-weight: 300;
  line-height: 24px; /* 150% */
  letter-spacing: 0.5px;
}
.work-together-button {
  width: 100%;
  padding: 12px 24px;
  background-color: var(--accent-color);
  border-radius: 8px;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px; /* 150% */
  letter-spacing: 0.5px;
  text-align: center;
  color: var(--main-bg-color);
  transition: background-color 250ms ease-in-out, color 250ms ease-in-out;
}
.work-together-button:hover {
  background-color: #009156;
}

/* Adaptive Tablet */
@media screen and (min-width: 768px) {
  .container {
    padding: 0 32px;
    margin: 0 auto;
  }
  .title {
    font-size: 108px;
    line-height: 124px;
    margin-bottom: 60px;
  }
  .work-together-description {
    font-size: 20px;
    line-height: 32px; /* 160% */
  }
  .work-together-address {
    flex-direction: row;
  }
  .work-together-button {
    width: 173px;
    height: 48px;
  }
}
